<header>

  <div class="container">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-20 text-center">
            <button type="button" class="btn btn-info btn-sm" (click)="onZeroDatabase()" click data-toggle="modal" data-target="">Zero Database</button>
        </div>
        <div class="col-xs-8">
          <h2>Edit Members</h2>
        </div>
      </div>
      <div class="row">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Brotherhood Points</th>
              <th>Service Hours</th>
              <th>Unexcused Absences</th>
              <th>Pitt ID</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let member of memberService.members" (click)="onMemberClicked(member)" class="pointer">
              <td>{{ member.name }}</td>
              <td>{{ member.email }}</td>
              <td>{{ member.points }}</td>
              <td>{{ member.serviceHours }}</td>
              <td>{{ member.absences }}</td>
              <td>{{ member.studentId }}</td>
              <td>{{ member.role }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Edit member modal -->
  <div class="modal fade" id="memberEditSubmitModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <form (ngSubmit)="onEditMemberSubmit(memberEditForm)" #memberEditForm="ngForm" autocomplete="off">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 style="color:black;"class="modal-title">Edit member</h4>
          </div>
          <div class="modal-body">
            <div class="input-field">
              <label style="color:black" for="name">Name</label>
              <input style="text-align:left;" [(ngModel)]="memberEditForm.name" name="name" #name="ngModel" type="text" class="form-control" id="name" autocomplete="off">
            </div>
            <br />
            <div class="input-field">
              <label style="color:black" for="studentId">Student ID</label>
              <input style="text-align:left;" [(ngModel)]="memberEditForm.studentId" name="studentId" #name="ngModel" type="text" class="form-control" id="studentId" autocomplete="off">
            </div>
            <br />
            <div class="input-field">
              <label style="color:black" for="points">Service Hours</label>
              <input style="text-align:left;" [(ngModel)]="memberEditForm.serviceHours" name="serviceHours" #name="ngModel" type="number" class="form-control" id="serviceHours" autocomplete="off">
            </div>
            <br />
            <div class="input-field">
              <label style="color:black" for="points">Points earned</label>
              <input style="text-align:left;" [(ngModel)]="memberEditForm.points" name="points" #name="ngModel" type="number" class="form-control" id="points" autocomplete="off">
            </div>
            <br />
            <div class="input-field">
              <label style="color:black" for="absences">Absences</label>
              <input style="text-align:left;" [(ngModel)]="memberEditForm.absences" name="absences" #name="ngModel" type="number" class="form-control" id="absences" autocomplete="off">
            </div>
            <br />

          <label style="color:black" for="member-role-list">Select User Role:</label>
          <input style="margin:15px; color:black;" list="member-roles" id="role" name="member-role-list" />

          <datalist id="member-roles">
              <option value="Brother">
              <option value="Inactive">
              <option value="Alumni">
              <option value="President">
              <option value="Vice President">
              <option value="Technology Chair">
              <option value="Business Chair">
              <option value="Public Relations Chair">
              <option value="Outreach Chair">
              <option value="Recruitment Chair">
          </datalist>

            <br />
          </div>
          <div class="modal-footer">
            <button (click)="onDeleteMember()" type="button" class="btn btn-danger pull-left">Delete</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Confirm</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</header>
