
<!-- Excused Absence Submit Modal -->
<div class="modal fade" id="excuseSubmitModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form (ngSubmit)="onExcuseRequestSubmit(excuseForm)" #excuseForm="ngForm" autocomplete="off">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 style="color:black;"class="modal-title">Submit Excused Absence</h4>
        </div>
        <div class="modal-body">
          <div class="input-field">
            <label style="color:black" for="date">Date you'll be missing</label>
            <input type="text" placeholder="Date" class="form-control" [(ngModel)]="excuseForm.date" name="date" #name="ngModel" id="date" bsValue bsDatepicker required>
          </div>
          <br />
          <div class="input-field">
            <label style="color:black" for="reason">Description</label>
            <input style="text-align:left;" [(ngModel)]="excuseForm.reason" name="reason" #name="ngModel" type="text" class="form-control" id="reason" placeholder="Why did you miss this chapter meeting?" autocomplete="off" required>
          </div>
          <br />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="!excuseForm.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

  <!-- Points Submit Modal -->
  <div class="modal fade" id="pointsSubmitModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <form (ngSubmit)="onPointRequestSubmit(pointsForm)" #pointsForm="ngForm" autocomplete="off">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 style="color:black;"class="modal-title">Log Points</h4>
          </div>
          <div class="modal-body">
            <div class="input-field">
              <label style="color:black" for="points">Points earned</label>
              <input style="text-align:left;" [(ngModel)]="pointsForm.points" name="points" #name="ngModel" type="number" class="form-control" id="points" placeholder="Enter number of brotherhood points" autocomplete="off" required>
            </div>
            <br />
            <div class="input-field">
              <label style="color:black" for="description">Description</label>
              <input style="text-align:left;" [(ngModel)]="pointsForm.description" name="description" #name="ngModel" type="text" class="form-control" id="description" placeholder="What did you do to earn these points?" autocomplete="off" required>
            </div>
            <br />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" [disabled]="!pointsForm.valid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Service Hours Submit Modal -->
  <div class="modal fade" id="serviceHoursSubmitModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <form (ngSubmit)="onServiceHourRequestSubmit(serviceHoursForm)" #serviceHoursForm="ngForm" autocomplete="off">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 style="color:black;"class="modal-title">Log Service Hours</h4>
          </div>
          <div class="modal-body">
            <div class="input-field">
              <label style="color:black" for="hours">Service Hours earned</label>
              <input style="text-align:left;" [(ngModel)]="serviceHoursForm.serviceHours" name="serviceHours" #name="ngModel" type="number" class="form-control" id="serviceHours" placeholder="Enter number of service hours" autocomplete="off" required>
            </div>
            <br />
            <div class="input-field">
              <label style="color:black" for="description">Description</label>
              <input style="text-align:left;" [(ngModel)]="serviceHoursForm.description" name="description" #name="ngModel" type="text" class="form-control" id="description" placeholder="What did you do to earn these service hours?" autocomplete="off" required>
            </div>
            <br />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" [disabled]="!serviceHoursForm.valid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Review Point Requests Modal - for admins only -->
  <div class="modal fade" id="reviewRequestsModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 style="color:black;"class="modal-title">Review Requests</h4>
        </div>
        <div class="modal-body">
          <div id="overflow">
            <h3 class="black-text" *ngIf="requestsService.numRequestsAvailable < 1; else showTable">No remaining requests</h3>
            <ng-template #showTable>
              <table class="table table-bordered black-text">
                <thead>
                  <tr>
                    <th>Submitted by</th>
                    <th>Submitted on</th>
                    <th>Type</th>
                    <th>Value</th>
                    <th>Description</th>
                    <th>Accept/Deny</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let request of requestsService.requests">
                    <td data-toggle="tooltip" data-placement="top" title="Click for history" onmouseover="" style="cursor: pointer;" (click)="onShowHistory(request.submittedById)" *ngIf="request.approved == 0">{{ request.submittedBy }}</td>
                    <td *ngIf="request.approved == 0">{{ request.submittedDate }}</td>
                    <td *ngIf="request.approved == 0">{{ request.type }}</td>
                    <td *ngIf="request.approved == 0 && request.type == 'Excused Absence'">{{ request.value.toString().substring(4, 6) }}/{{ request.value.toString().substring(6, 8) }}/{{ request.value.toString().substring(0, 4) }}</td>
                    <td *ngIf="request.approved == 0 && request.type != 'Excused Absence'">{{ request.value }}</td>
                    <td *ngIf="request.approved == 0">{{ request.description }}</td>
                    <td *ngIf="request.approved == 0">
                      <button type="button" id="acceptPoints" class="btn btn-default" (click)="onAcceptRequest(request)">Accept</button>
                      <button type="button" id="denyPoints" class="btn btn-default" (click)="onDenyRequest(request)">Deny</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
    </div>
  </div>

  <!-- History of user's approved requests modal -->
  <div class="modal fade" id="historyModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="onHistoryClosed()" type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 style="color:black;"class="modal-title">History of approved requests for {{ currentHistoryMember }}</h4>
        </div>
        <div class="modal-body">
          <div id="overflow">
            <h3 class="black-text" *ngIf="!membersRequests || membersRequests.length < 1; else showHistory">No history yet</h3>
            <ng-template #showHistory>
              <table class="table table-bordered black-text">
                <thead>
                  <tr>
                    <th>Submitted on</th>
                    <th>Type</th>
                    <th>Value</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let request of membersRequests">
                    <td>{{ request.submittedDate }}</td>
                    <td>{{ request.type }}</td>
                    <td>{{ request.value }}</td>
                    <td>{{ request.description }}</td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </div>
        <div class="modal-footer">
          <button (click)="onHistoryClosed()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
    </div>
  </div>

<header>
  <!-- Table to display all members' points -->
  <div class="container">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-20 text-center">
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#excuseSubmitModal">Submit Excused Absence</button>
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#serviceHoursSubmitModal">Log Service Hours</button>
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#pointsSubmitModal">Log Points</button>
          <button *ngIf="userRole == 'admin'" type="button" class="btn btn-primary btn-sm" (click)="onReviewRequestsOpened()" data-toggle="modal" data-target="#reviewRequestsModal">Review Requests</button>
        </div>
        <div class="col-xs-5">
          <h2>Spring 2019 members</h2>
        </div>
      </div>
      <div class="row">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Brotherhood Points<br />(5 Min / Semester)</th>
              <th>Service Hours<br />(10 Min / Semester)</th>
              <th>Unexcused Absences<br />(2 Max / Semester)</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let member of memberService.members">
              <td>{{ member.name }}</td>
              <td>{{ member.email }}</td>
              <td>{{ member.points }}</td>
              <td>{{ member.serviceHours }}</td>
              <td>{{ member.absences }}</td>
              <td>{{ member.role }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</header>
