.container {
  margin-top: 15vh;
  height: 100vh;
}

.modal-backdrop.fade
{
  opacity: 0.5;
}
.modal-open .modal
{
  opacity: 1;
}

.btn {
  margin-left: 5px !important;
}

#buttonContainer {
  position: absolute !important;
  right:0 !important;
}

.black-text {
  color: black;
}

#acceptPoints:hover {
  background-color: rgba(0, 255, 0, 0.3) !important;
}

#denyPoints:hover {
  background-color: rgba(255, 0, 0, 0.3) !important;
}
