<div class="background">
  <div class="page-body">

    <div class="header">
      <div class="card">&#8212; Spring 2019 Members &#8212;</div>
    </div>

    <div class="grid">
      <div *ngFor="let member of members" class="card">

        <ng-container *ngIf="member.picture != ''; then img; else noImg"></ng-container>
        <ng-template #img>
          <img class="card-img-top card-img-circle" src="http://localhost:3000/img/{{member.picture}}">
        </ng-template>
        <ng-template #noImg>
          <div class="card-img-top card-img-circle initials">{{initialsFrom(member.name)}}</div>
        </ng-template>

        <div class="card-body">
          <h3 class="card-title">{{member.name}}</h3>
          <h5 class="card-subtitle">{{member.major}}</h5>
        </div>
        <div style="margin-left: 1vw; margin-right: 1vw; border-top: 1px solid gray; border-bottom: 1px solid gray;" class="card-body">
          <p class="card-text">{{member.description}}</p>
        </div>
        <div style="height: 50px !important" class="card-body">
          <a *ngIf="userLoggedIn == true" routerLink="/profile/{{member._id}}" class="card-link">See More</a>
        </div>
      </div>
    </div>
  </div>
</div>
