<!DOCTYPE html>
<html lang="en">

<head>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#devTeamModal" id="easter-egg" style="z-index: 999; height:30px; width: 30px; background-color: transparent; position: fixed; border: 0; bottom: 0; left: 0"></button>
<body id="page-top">

	<header>
		<div id="ktp"><img src="../assets/img/ktp4.png"></div><br>
		<br>
		<br>
		<div id="description">
			<h1>Professional Technology Fraternity at the University of Pittsburgh</h1><br>
			<br>
			<a class="btn btn-outline btn-xl page-scroll" href="#features"><b>RUSH</b></a>
		</div><br>
		<br>
		<br>
	</header>
	<section class="features" id="features">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="device-container">
						<div class="screen"><img alt="" class="img-responsive" src="../assets/img/SpringRush2019.jpg"></div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-6">
								<div class="feature-item">
									<!--    <i class="icon-screen-smartphone text-primary"></i> -->
									<i aria-hidden="true" class="fa fa-handshake-o fa-lg"></i>
									<h3>Grow Your Network</h3>
									<p class="text-muted">Network with potential future employers, alumni, and recruiters. Tour renown company sites in the Pittsburgh area like Google, and Uber.</p>
								</div>
							</div><br>
							<div class="col-md-6">
								<div class="feature-item">
									<!--     <i class="icon-camera text-primary"></i> -->
									<h3>Expand Your Skillset</h3>
									<p class="text-muted">Take part in workshops and panels with professionals in the field to develop your technical skills and learn how to market them.</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="feature-item">
									<!--      <i class="icon-present text-primary"></i> -->
									<h3>Give Back</h3>
									<p class="text-muted">Use your skillset to have a lasting impact on our community. Spread the love (of technology)!</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="feature-item">
									<!--        <i class="icon-lock-open text-primary"></i> -->
									<h3>Join Our Diverse Community</h3>
									<p class="text-muted">We are a group of multi-faceted individuals; computer scientists, designers, psychologists, engineers, businesspeople, mathematicians and many, many more.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="cta" id="mission">
		<div class="cta-content">
			<div class="container">
				<h2>Our Mission.</h2>
				<p>Kappa Theta Pi is the world's first co-educational professional technology fraternity. We work to build an active community of students with a shared interest in technology; sponsoring events aimed to provide intellectual, social, and professional resources to members. We seek to foster relationships within the local community, and with corporations; ultimately providing service and philanthropy to the local community.<br>
				<br>
				We hold events throughout the year, meeting with groups ranging from technology companies, to banks, to consulting firms. Pittsburgh is a burgeoning tech hub, and we are lucky to be here as the industry continues to explode. Cutting edge companies like Google and Uber are developing the newest innovations here in Pittsburgh, and have resources for us to be a part of it.</p>
			</div>
		</div>
		<div class="overlay"></div>
	</section>
	<section class="contact bg-primary" id="contact">
		<div class="container">
			<h2>Hello, world.</h2>
			<ul class="list-inline list-social">
				<li class="social-twitter">
					<a href="https://twitter.com/pittktpbeta"><i class="fa fa-twitter"></i></a>
				</li>
				<li class="social-facebook">
					<a href="https://www.facebook.com/pittkappathetapi/?tsid=0.4662292894598893&source=typeahead"><i class="fa fa-facebook"></i></a>
				</li>
				<li class="social-google-plus">
					<a href="https://www.instagram.com/pittkappathetapi/"><i class="fa fa-instagram"></i></a>
				</li>
			</ul><br>
			<p>Feel free to reach out to us with any questions!</p>
			<p>Contact: EWT6@pitt.edu</p>
		</div>
	</section>
	<footer>
		<div class="container">
			<p>&copy; 2018 University of Pittsburgh Kappa Theta Pi. All Rights Reserved.</p>
			<ul class="list-inline">
				<li>Site created and maintained by the Pitt KTP Dev Team.</li>
			</ul>
		</div>
	</footer>
    <script src="./new-age.min.js"></script>
</body>
</html>

<!-- Excused Absence Submit Modal -->
<div class="modal fade" id="devTeamModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 style="color:black;"class="modal-title">The Dev Team!</h4>
			</div>
			<div class="modal-body">
				<div><img alt="" class="img-responsive" src="../assets/img/Ktp_dev_team.jpeg"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
