<header style="background-color:rgba(0, 0, 0, 0.5);">
  <!-- Profile Settings Modal -->
  <div class="modal fade" id="profileSettingsModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <form (ngSubmit)="onChangePictureSubmit(changePicForm)" #changePicForm="ngForm" autocomplete="off">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 style="color:black;" class="modal-title">Change Profile Picture</h4>
          </div>
          <div class="modal-body">
            <div class="input-field">
              <label style="color:black;" for="profilePic">Picture to Upload: </label>
              <input style="text-align:left;" [(ngModel)]="changePicForm.picture" name="picture" #name="ngModel" type="file" class="form-control" id="picture" required>
            </div>
            <br />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-default" [disabled]="!changePicForm.valid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Secured Profile Page Content -->
  <div class="container" *ngIf="this.auth.loggedIn() == true; else unsecured">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="profile-content">
          <div class="row profile-header">
            <div class="col-md-2">
              <div *ngIf="this.profile.picture != ''; else noPic" class="profile-pic">
                <img src=`{{profile.picture}}` alt=`{{profile.name}}`/>
              </div>
              <ng-template #noPic style="margin: 0 auto">
                <div class="profile-no-pic">
                  <span>{{this.profile.name.split(" ")[0].charAt(0)}}{{this.profile.name.split(" ")[1].charAt(0)}}</span>
                </div>
              </ng-template>
            </div>
            <div class="col-md-5 col-md-offset-1 profile-detail">
              <div class="row" style="text-align:center;">
                <h3>{{profile.name}}</h3>
              </div>
              <div class="row">
                <div class="col-md-7">
                  Email: {{profile.email}}
                </div>
                <div class="col-md-5">
                  {{profile.rushClass}} Class
                </div>
              </div>
            </div>
            <div class="col-md-2 col-md-offset-1 profile-btns">
              <button *ngIf="this.auth.getCurrentUserId() == this.profile._id" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#profileSettingsModal">Settings</button>
            </div>
          </div>
          <br>
          <div class="progress-bars">
            <div class="row">
              <span class="col-md-3 col-md-offset-1">Service Hours: </span>
              <div id="serviceBar">
                <div id="service" [ngStyle]="{'width': this.hoursPercent + '%'}"></div>
              </div>
              <span class="progress-value">{{profile.serviceHours}}/10</span>
            </div>
            <div class="row">
              <span class="col-md-3 col-md-offset-1">Brotherhood Points: </span>
              <div id="pointsBar">
                <div id="points" [ngStyle]="{'width': this.pointsPercent + '%'}"></div>
              </div>
              <span class="progress-value">{{profile.points}}/5</span>
            </div>
          </div>
          <div class="row profile-info">
            <div class="row">
              <div class="col-lg-12 tab">
                <div id="descBtn" class="tab-btn active" type="button" (click)="openTab('description')">Description</div>
                <div id="acadBtn" class="tab-btn" type="button" (click)="openTab('academics')">Academics</div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 tab-content" id="description">
                Description Box Area
              </div>
              <div class="col-lg-12 tab-content" id="academics">
                Major and Expected Grad Year
                Courses Taken At Pitt
                Current Credits
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Unsecured Profile Page -->
  <ng-template #unsecured>
    <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="profile-content">
              <div class="row profile-header">
                <div class="col-md-2">
                  <div *ngIf="this.profile.picture != ''; else noPic" class="profile-pic">
                    <img src=`{{profile.picture}}` alt=`{{profile.name}}`/>
                  </div>
                  <ng-template #noPic style="margin: 0 auto">
                    <div class="profile-no-pic">
                      <span>{{this.profile.name.split(" ")[0].charAt(0)}}{{this.profile.name.split(" ")[1].charAt(0)}}</span>
                    </div>
                  </ng-template>
                </div>
                <div class="col-md-5 col-md-offset-1 profile-detail">
                  <div class="row" style="text-align:center;">
                    <h3>{{profile.name}}</h3>
                  </div>
                  <div class="row">
                    <div class="col-md-7">
                      Email: {{profile.email}}
                    </div>
                    <div class="col-md-5">
                      {{profile.rushClass}} Class
                    </div>
                  </div>
                </div>
              </div>
              <div class="row profile-info">
                <div class="row">
                  <div class="col-lg-12 tab">
                    <div id="descBtn" class="tab-btn active" type="button" (click)="openTab('description')">Description</div>
                    <div id="acadBtn" class="tab-btn" type="button" (click)="openTab('academics')">Academics</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 tab-content" id="description">
                    Description Box Area
                  </div>
                  <div class="col-lg-12 tab-content" id="academics">
                    Major and Expected Grad Year
                    Courses Taken At Pitt
                    Current Credits
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </ng-template>
</header>
