.container {
  margin-top: 15vh;
}

body {
  padding-top: 90px;
}

.profile-content {
  border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  background-color: #fff;
  color: #00415d;
}

.profile-info {
  margin-top: 5vh;
  margin-left: 10px;
}

.profile-no-pic {
  border-radius: 50%;
  background-color: greenyellow;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 42px;
  margin-left: 30px;
  margin-top: 15px;
}

.profile-pic {
  border-radius: 50%;
  margin-top: 15px;
  margin-left: 30px;
}

.profile-btns {
  margin-top: 15px;
}

.profile-detail {
  margin-top: 15px;
}

#serviceBar, #pointsBar {
  display: inline-block;
  width: 50%;
  background-color: grey;
  overflow: hidden;
  border-radius: 20px;
}

#service, #points {
  height: 15px;
  color: white;
  border-radius: 20px;
}

#service {
  background-color: rgb(33, 192, 2);
}

#points {
  background-color: rgb(19, 180, 255);
}

.progress-value {
  margin-left: 15px;
}

.tab-btn {
  background-color: rgb(231, 231, 231);
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
}

.tab-btn:hover {
  background-color: grey;
}

.active {
  background-color: rgb(80, 80, 80);
  color: white;
}

.tab-content {
  display: none;
}

.unsecured {
  background-color: pink;
}