<nav class="navbar navbar-default navbar-fixed-top" id="mainNav">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i></button> <a class="navbar-brand page-scroll" href="#page-top" (click)="onHomeClicked()"><img src="../assets/img/ktp-logo-white.png"></a>
    </div><!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll" href="#features" (click)="onHomeClicked()">Rush</a>
        </li>
        <li>
          <a class="page-scroll" href="#mission" (click)="onHomeClicked()">Mission</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact" (click)="onHomeClicked()">Contact</a>
        </li>
        <li class="divide">
          <a style="cursor: pointer" (click)="onMembersClicked()">Members</a>
        </li>
        <li *ngIf="user == ''">
          <a class="pointer" (click)="onLoginClicked()">Login/Register</a>
        </li>
        <li *ngIf="user != ''" class="nav-item dropdown divider">
          <a (click)="onDropdown()" class="nav-link dropdown-toggle" href="javascript:;" id="navbardrop">{{ user }}<i class="fa fa-caret-down"></i></a>
          <ul id="guy" class="dropdown-menu">
            <li><a class="pointer dropdown-item" (click)="onProfileClicked()">My Profile</a></li>
            <li><a class="pointer dropdown-item" (click)="onPointsClicked()">View/Log Points</a></li>
            <li *ngIf="userRole == 'admin'"><a class="pointer dropdown-item" (click)="onEditMembersClicked()">Edit Members</a></li>
            <li *ngIf="userRole == 'admin'"><a class="pointer dropdown-item" (click)="onAttendanceClicked()">Take Attendance</a></li>
            <li role="separator" class="divider"></li>
            <li><a class="pointer dropdown-item" (click)="onLogout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade" id="attendanceModal" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="onAttendanceClosed()">&times;</button>
        <h4 style="color:black;"class="modal-title">Attendance</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered black-text">
          <thead>
            <tr>
              <th>Name</th>
              <th>Present?</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let member of expectedMembers">
              <td *ngIf="!membersNotHere.includes(member)">{{ member.name }}</td>
              <td *ngIf="!membersNotHere.includes(member)">
                <button type="button" id="notHere" class="btn btn-default" (click)="onNotHere(member)">Not Here</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="onAttendanceClosed()">Close</button>
        <button type="button" class="btn btn-primary" (click)="onAttendanceSubmit()">Submit</button>
      </div>
    </div>
  </div>
</div>
